.viewData {
font-size: large;
font: sans-serif ;

}

.stdRowHeader{
    text-align: center;
    font-size: x-large;
    color: blue;
}

.stdRowText{
    text-align: center;
    font-size: larger;
}
.stdRowButton{   
    padding-right: 10px;
    padding-left: 10px;
    outline: none;  
}

.createHeader{
    font-size: large;
    font-weight: bold;
}

.createInput{
    font-size: large;
}

.createInputError{
    font-size:large;
    color: red;
}

.stdButton{
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}

.stdLink{
    color: blue;
    font: sans-serif;
    font-size: large;
}